<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wis.Anes.BusinessEntity.Properties.Settings.OracleConnectionString" connectionString="Data Source=DOCARE;Persist Security Info=True;Integrated Security=False;User ID=medsurgery;Password=medsurgery;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="Wis.Anes.BusinessEntity.Properties.Settings.ConnectionString" connectionString="Data Source=orcl;Persist Security Info=True;User ID=medsurgery;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="Wis.Anes.BusinessEntity.Properties.Settings.TianJianHisPriceView" connectionString="Data Source=tjhis;Persist Security Info=True;User ID=JFJK;Password=JFJK;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="Wis.Anes.BusinessEntity.Properties.Settings.AnesLCConnectionString" connectionString="Data Source=localhost;Initial Catalog=WISANESNEW;User Id=ZZS;Password=zzs123;" providerName="System.Data.Sqlclient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
