<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SpecialCare" type="Com.MedicalSystem.Icu.Configurations.MedConfigurationClassArrayData, CommonLib, Version=1.0.3187.27057, Culture=neutral, PublicKeyToken=null" />
		<section name="reportViewerSettings" type="MedicalSystem.SmartReport.Viewer.Configuration.ReportViewerSection, MedicalSystem.SmartReport.Viewer"/>
		<section name="emrUploadSettings" type="Medicalsystem.ICU.Interface.Configuration.EmrUploadConfigurationSection, DataModelProxy"/>
		<section name="clientDataModule" type="Com.MedicalSystem.Icu.ClientLibrary.ClientDataModuleSettings, ClientLibrary"/>
    <section name="accessControlSettings" type="iMedical.AccessControl.Configuration.AccessControlSettingSection, iMedical.AccessControl"/>
		<sectionGroup name="FlowConfig">
			<section name="Variables" type="TreatmentFlowLibrary.ConfigSections.FlowVariableSection, TreatmentFlowLibrary"/>
			<section name="Sentences" type="TreatmentFlowLibrary.ConfigSections.FlowSentenceSection, TreatmentFlowLibrary"/>
			<section name="Functions" type="TreatmentFlowLibrary.ConfigSections.FlowFunctionSection, TreatmentFlowLibrary"/>
			<section name="SignCodes" type="TreatmentFlowLibrary.ConfigSections.FlowSignCodeSection, TreatmentFlowLibrary"/>
		</sectionGroup>
	</configSections>
  <accessControlSettings defaultProvider="OracleProvider">
    <providers>
      <clear />
      <add name="OracleProvider"
        type="iMedical.AccessControl.Provider.OracleProvider.OracleAccessControlProvider, iMedical.AccessControl"
        connectionStringName="ICU_Oracle"/>
    </providers>
    <userSettings tableName="WIS_PERM_USER" userIDColumnName="USER_ID" userNameColumnName="LOGIN_NAME" userPasswordColumnName="LOGIN_PWD">
      <extendInfos>
        <add name="USER_NAME" description="用户名" />
        <add name="DEPT_ID" description="部门ID"/>
        <add name="CREATE_DATE_TIME" dbType="Date" description="创建日期" />
        <add name="IS_VALID" description="是否启用"/>
        <add name="MEMO" description="备注"/>
      </extendInfos>
    </userSettings>
  </accessControlSettings>
	<configProtectedData>
		<providers>
			<add  name="MyUserDataProtectionConfigurationProvider" type="Com.MedicalSystem.Common.Utilities.MDSDUserDataProtectionConfigurationProvider, CommonLib" />
		</providers>
	</configProtectedData>
	<connectionStrings configProtectionProvider="MyUserDataProtectionConfigurationProvider">
  <EncryptedData>Q9VCTBsAARKqlu7b0cDgAfINbTS2xNEGdb+RKnFU6fdETTGE7hic/TrKW3f6HG1AIfvXi7AsWRTqFVytInPSMKAtmb9UE/SZXCtNZmQomrqfS2dQE5+W3Rh1YqQY+wnx5ys0tINy0McAR8LxMnqRWGNF2rijdIgzLIzn8ltb8DP88yF4QgrFPNCB+kE5/UYdxidTsz9bREQKUEx/ezPPRE44560wvgCXFBxn1QTp5sBLBPAc5h+7aKtqChX4TLEfo9sP6D3jrA1E0hej8AfmIvJ1y+8ZOjirclDx3ZI1czuwk7lp7c8IZRbhKG70bc2wo78hlQFggL7IQZMHz1jXXZR4DBq+rX+gl/diDBtFbIJDm7NRmoUDBgZxtA8SsXzQAuXZ/ES3H/sTOO5cD/af4iiW2u9Qq/0TmdG96RhtKxlIQ8JIWkVyXLGzIJ4rqMu3CV78JNzp2F0ux/baapXHa8y7w18qCTa5</EncryptedData>
 </connectionStrings>
	<SpecialCare assemblyName="IcuApp" classNames="Com.MedicalSystem.Icu.XiangShanInOrOutPanel" />
	<reportViewerSettings>
		<reportViewers defaultConnectionStringName="ICU">
			<add title="自定义表单1" reportName="TestReport" reportBehavior="FirstCreatThenUpdate" storageLocation="Database" organization="00003100" />
			<add title="自定义表单2" reportName="TestReport1" reportBehavior="AlwaysCreateNew" storageLocation="Database"  organization="00003100" />
		</reportViewers>
	</reportViewerSettings>
	<emrUploadSettings  connectionStringName="ICU"  />
	<clientDataModule callType="Oracle" interFaceIP="" remotingUrl=""
  ClentID="" HospitalID="" />
	<FlowConfig>
		<Variables>
			<add key="自定义数据"  value="TreatmentFlowLibrary.XmlElements.Variables.CustomVar, TreatmentFlowLibrary"/>
			<add key="基础数据"  value="TreatmentFlowLibrary.XmlElements.Variables.BasicDataVar, TreatmentFlowLibrary"/>
			<add key="体征数据"  value="TreatmentFlowLibrary.XmlElements.Variables.SignVar, TreatmentFlowLibrary"/>
			<add key="出入量数据"  value="TreatmentFlowLibrary.XmlElements.Variables.InOrOutVar, TreatmentFlowLibrary"/>
      <add key="病人基本数据"  value="TreatmentFlowLibrary.XmlElements.Variables.PatientVar, TreatmentFlowLibrary"/>
      <add key="共享数据"  value="TreatmentFlowLibrary.XmlElements.Variables.SharedDataVar, TreatmentFlowLibrary"/>
		</Variables>
		<Sentences>
			<add key="workNode" value="TreatmentFlowLibrary.XmlElements.Sentences.WorkNode, TreatmentFlowLibrary"/>
			<add key="data" value="TreatmentFlowLibrary.XmlElements.Sentences.Data, TreatmentFlowLibrary"/>
			<add key="alert" value="TreatmentFlowLibrary.XmlElements.Sentences.Alert, TreatmentFlowLibrary"/>
			<add key="break" value="TreatmentFlowLibrary.XmlElements.Sentences.Break, TreatmentFlowLibrary"/>
			<add key="false" value="TreatmentFlowLibrary.XmlElements.Sentences.False, TreatmentFlowLibrary"/>
			<add key="goto" value="TreatmentFlowLibrary.XmlElements.Sentences.Goto, TreatmentFlowLibrary"/>
			<add key="if" value="TreatmentFlowLibrary.XmlElements.Sentences.If, TreatmentFlowLibrary"/>
			<add key="loop" value="TreatmentFlowLibrary.XmlElements.Sentences.Loop, TreatmentFlowLibrary"/>
			<add key="set" value="TreatmentFlowLibrary.XmlElements.Sentences.Set, TreatmentFlowLibrary"/>
			<add key="showWindow" value="TreatmentFlowLibrary.XmlElements.Sentences.ShowWindow, TreatmentFlowLibrary"/>
			<add key="saveData" value="TreatmentFlowLibrary.XmlElements.Sentences.SaveData, TreatmentFlowLibrary"/>
			<add key="subThread" value="TreatmentFlowLibrary.XmlElements.Sentences.SubThread, TreatmentFlowLibrary"/>
			<add key="threadContainer" value="TreatmentFlowLibrary.XmlElements.Sentences.ThreadContainer, TreatmentFlowLibrary"/>
			<add key="true" value="TreatmentFlowLibrary.XmlElements.Sentences.True, TreatmentFlowLibrary"/>
			<add key="frequency" value="TreatmentFlowLibrary.XmlElements.Sentences.Frequency, TreatmentFlowLibrary"/>
		</Sentences>
		<Functions>
			<add key="last" value="TreatmentFlowLibrary.Functions.LastFunction, TreatmentFlowLibrary" />
			<add key="prev" value="TreatmentFlowLibrary.Functions.PrevFunction, TreatmentFlowLibrary" />
			<add key="average" value="TreatmentFlowLibrary.Functions.AverageFunction, TreatmentFlowLibrary" />
			<add key="now" value="TreatmentFlowLibrary.Functions.NowFunction, TreatmentFlowLibrary" />
			<add key="getPatientInfo" value="TreatmentFlowLibrary.Functions.GetPatientInfoFunction, TreatmentFlowLibrary" />
			<add key="today" value="TreatmentFlowLibrary.Functions.TodayFunction, TreatmentFlowLibrary" />
			<add key="empty" value="TreatmentFlowLibrary.Functions.EmptyFunction, TreatmentFlowLibrary" />
			<add key="addDateTime" value="TreatmentFlowLibrary.Functions.AddDateTimeFunction, TreatmentFlowLibrary" />
			<add key="isNullOrEmpty" value="TreatmentFlowLibrary.Functions.IsNullOrEmptyFunction, TreatmentFlowLibrary" />
			<add key="getPartTime" value="TreatmentFlowLibrary.Functions.GetPartTimeFunction, TreatmentFlowLibrary" />
      <add key="minTimeValue" value="TreatmentFlowLibrary.Functions.MinTimeValueFunction, TreatmentFlowLibrary" />
      <add key="isVarTimedOut" value="TreatmentFlowLibrary.Functions.IsVarTimedOutFunction, TreatmentFlowLibrary" />
      <add key="isVarUsed" value="TreatmentFlowLibrary.Functions.IsVarUsedFunction, TreatmentFlowLibrary" />
			<add key="sumInOrOutValue" value="Com.MedicalSystem.Icu.FlowController.NanJingZhongDaYiYuan.Functions.SumInOrOutValueFunction, IcuApp" />
		</Functions>
		<SignCodes>
      <!--本机(XDL)
      <add key="血糖" value="6000"/>
      <add key="血压high" value="04"/>
      <add key="血压Low" value="05"/>
      <add key="乳酸" value="9001"/>
      <add key="PaO2" value="9002"/>
      <add key="PaCO2" value="9003"/>
      <add key="PH" value="9004"/>
      <add key="HCO3" value="9005"/>
      <add key="中心静脉压" value="09"/>
      <add key="MAP" value="9010"/>-->
      <!--中大-->
      <add key="血糖" value="08"/>
      <add key="血压high" value="04"/>
      <add key="血压Low" value="05"/>
      <add key="SvCO2" value="9011"/>
      <add key="乳酸" value="Lac"/>
      <add key="PaO2" value="pO2"/>
      <add key="PaCO2" value="pCO2"/>
      <add key="PH" value="pH"/>
      <add key="HCO3" value="HCO3"/>
      <add key="MAP" value="67"/>
      <add key="中心静脉压" value="09"/>
      <!---林建-->
      <add key="FIO2" value="FiO2"/>
      <add key="aDO2" value="AaDO2"/>
      <add key="肌酐Cr" value="肌酐"/>
      <add key="HCT" value="Hct"/>
      <add key="WBC" value="白细胞计数"/>
      <add key="K" value="K+"/>
      <add key="Na" value="Na+"/>
      <add key="BUN" value="尿素氮"/>
      <add key="Cr" value="肌酐"/>
      <add key="TNI" value="肌钙蛋白I"/>
      <add key="CK" value="肌酸激酶"/>
      <add key="CK-MB" value="MB"/>
      <add key="Hb" value="血红蛋白"/>
      <add key="PLT" value="血小板计数"/>
      <add key="CRP" value="超敏C-反应蛋白"/>
      <add key="RR" value="呼吸频率"/>
      <add key="血肌酐" value="肌酐"/>
      <add key="血尿素氮" value="尿素氮"/>
	  <add key="specialChart" value="CVP"/>
		</SignCodes>
	</FlowConfig>
	<appSettings>
		<add key="HospitalAbbreviation" value="DongFangGanDan" />
		<add key="Token" value="IsValided" />
		<add key="StartForm" value="MainFrm" />
		<add key="CurrentUsingConnectionStringName"  value="ICU"/>
		<add key="USER_NAME" value="SSCJ" />
		<add key="USER_ID" value="SSCJ" />
		<add key="CurrentSkinName" value="ExtendBlue"/>
	</appSettings>
</configuration>





