<?xml version="1.0" encoding="utf-8" ?>
<medicalDocSetting>
  <medicalDocs>
     <add key="术前访视" caption="术前访视@手术室" path="DocTemplate\客户化医院\术前访视.xml" type="Wis.Anes.Custom.CustomProject.Default.AnesVisitDoc,Anes.Custom.CustomProject"/>
     <add key="麻醉同意书" caption="麻醉同意书@手术室" path="DocTemplate\客户化医院\麻醉同意书.xml" type="Wis.Anes.Custom.CustomProject.Default.DefaultDoc,Anes.Custom.CustomProject"/>
     <add key="麻醉计划书" caption="麻醉计划单@手术室" path="DocTemplate\客户化医院\麻醉计划单.xml" type="Wis.Anes.Custom.CustomProject.Default.DefaultDoc,Anes.Custom.CustomProject"/>
     <add key="麻醉记录单" caption="麻醉记录单@手术室" path="DocTemplate\客户化医院\麻醉记录单.xml" type="Wis.Anes.Custom.CustomProject.AnesDoc,Anes.Custom.CustomProject"/>
     <add key="麻醉总结" caption="麻醉总结@手术室" path="DocTemplate\客户化医院\麻醉总结单.xml" type="Wis.Anes.Custom.CustomProject.Default.AnesSumDoc,Anes.Custom.CustomProject"/>
     <add key="术后随访" caption="术后随访@手术室" path="DocTemplate\客户化医院\麻醉术后随访记录单.xml" type="Wis.Anes.Custom.CustomProject.Default.DefaultDoc,Anes.Custom.CustomProject"/>
     <add key="三甲评审单" caption="三甲评审单@手术室" path="DocTemplate\客户化医院\三甲评审.xml" type="Wis.Anes.Custom.CustomProject.Default.AnesVisitDoc,Anes.Custom.CustomProject"/>
     <add key="麻醉记录单" caption="麻醉记录单@手术室" path="DocTemplate\客户化医院\麻醉记录单.xml" type="Wis.Anes.Custom.CustomProject.AnesDoc,Anes.Custom.CustomProject"/>
     
    <add key="不良事件上报" caption="不良事件上报" path="DocTemplate\客户化医院\不良事件上报.xml" type="Wis.Anes.Custom.CustomProject.Default.BadEventDoc,Anes.Custom.CustomProject"/>
     <add key="复苏单" caption="麻醉恢复单@复苏室" path="DocTemplate\客户化医院\麻醉恢复单.xml" type="Wis.Anes.Custom.CustomProject.PACUDoc,Anes.Custom.CustomProject"/>
     <add key="风险评估单" caption="风险评估单@手术室" path="DocTemplate\客户化医院\手术风险评估单.xml" type="Wis.Anes.Custom.CustomProject.Default.RiskAssessmentDoc,Anes.Custom.CustomProject"/>
    <add key="安全核查单" caption="安全核查单@手术室" path="DocTemplate\客户化医院\安全核查表.xml" type="Wis.Anes.Custom.CustomProject.Default.SafetyVerification,Anes.Custom.CustomProject"/>
   <add key="麻醉单反面" caption="麻醉单反面@手术室" path="DocTemplate\客户化医院\麻醉单反面.xml" type="Wis.Anes.Custom.CustomProject.Default.DefaultDoc,Anes.Custom.CustomProject"/>
    <add key="手术清点记录" caption="手术清点记录@护理" path="DocTemplate\客户化医院\手术清点记录.xml" type="Wis.Anes.Custom.CustomProject.Default.ShouShuQingDian,Anes.Custom.CustomProject"/>
    <add key="手术护理单" caption="手术护理单@护理" path="DocTemplate\客户化医院\手术护理单.xml" 
type="Wis.Anes.Custom.CustomProject.Default.DefaultDoc,Anes.Custom.CustomProject"/>
   <add key="术中药品登记" caption="术中药品登记@护理" path="DocTemplate\客户化医院\术中药品登记.xml" type="Wis.Anes.Custom.CustomProject.Default.ShouShuQingDian,Anes.Custom.CustomProject"/>
    <add key="镇痛记录" caption="镇痛记录@手术室" path="DocTemplate\客户化医院\镇痛记录单.xml" type="Wis.Anes.Custom.CustomProject.Default.DefaultDoc0,Anes.Custom.CustomProject"/>
  </medicalDocs>
  <medicalForms>
    <add key="患者详情" caption="患者详情" path="DocTemplate\客户化医院\患者详情.xml" type="Wis.Anes.Custom.CustomProject.Default.PatientSelectedInfo,Anes.Custom.CustomProject"/>
    <add key="手术信息" caption="手术信息" path="DocTemplate\客户化医院\手术信息.xml" type="Wis.Anes.Custom.CustomProject.Default.OperationInformation,Anes.Custom.CustomProject"/>
    <add key="不良事件" caption="不良事件" path="DocTemplate\客户化医院\不良事件上报.xml" type="Wis.Anes.Custom.CustomProject.Default.BadEventDoc,Anes.Custom.CustomProject"/>
    <add key="条码打印" caption="条码打印" path="DocTemplate\客户化医院\条码打印.xml" type="Wis.Anes.Custom.CustomProject.Default.PatientCodePrint,Anes.Custom.CustomProject"/>
    <add key="术后登记" caption="术后登记" path="DocTemplate\客户化医院\术后登记.xml" type="Wis.Anes.Custom.CustomProject.Default.RegisterAfterOperation,Anes.Custom.CustomProject"/>
  </medicalForms>
  <customForms>
    <add key="急诊登记" type="Wis.Anes.Custom.CustomProject.Views.EmergencyRegister,Anes.Custom.CustomProject"/>
    <add key="术中患者" type="Wis.Anes.Custom.CustomProject.Views.UnDonePatientListView,Anes.Custom.CustomProject"/>
  </customForms>
</medicalDocSetting>

