<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="medicalDocSetting" type="Wis.Anes.Framework.Configurations.MedicalDocSection, Anes.Framework"/>
  </configSections>
  <medicalDocSetting configSource="DocTemplate\客户化医院\Custom.config"/>
  <appSettings>
    <add key="QianBingXing" value="前并行" />
    <add key="QuanXunHuan" value="全循环" />
    <add key="HouBingXing" value="后并行" />
    <add key="YouDaoColor" value="Brown" />
    <add key="IsUpdateScheduleStatus" value="True" />
    <add key="IsSaveAnesPrintRecord" value="false" />
    <add key="RefreshTimeSpan" value="30" />
    <add key="OpertionRoom" value="" />
    <add key="UserLoginName" value="MZK" />
    <add key="PermissionProvider" value="Wis.Anes.Custom.CustomProject.Permissions.PermissionProviderCustom,Anes.Custom.CustomProject" />
    <add key="CustomSettingProvider" value="Wis.Anes.Custom.CustomProject.CustomSetting.CustomSetting,Anes.Custom.CustomProject" />
    <add key="IsPACUProgram" value="false" />
    <add key="IsYouDaoProgram" value="false" />
    <add key="docare" value="" />
    <add key="PatientListDate" value="0001/1/1 0:00:00" />

  </appSettings>
</configuration>