<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wis.Anes.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Wis.Anes.DataAccess.Properties.Settings>
            <setting name="Anes_DataAccess_WisServiceReference_WebServices"
                serializeAs="String">
                <value>http://localhost:10603/WebServices.asmx</value>
            </setting>
        </Wis.Anes.DataAccess.Properties.Settings>
    </applicationSettings>
</configuration>