<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="medicalDocSetting" type="Wis.Anes.Framework.Configurations.MedicalDocSection, Anes.Framework"/>
    <section name="SpecialCare" type="Com.Wis.Icu.Configurations.MedConfigurationClassArrayData, CommonLib, Version=1.0.3187.27057, Culture=neutral, PublicKeyToken=null"/>
    <section name="reportViewerSettings" type="Wis.SmartReport.Viewer.Configuration.ReportViewerSection, Wis.SmartReport.Viewer"/>
    <section name="emrUploadSettings" type="Wis.ICU.Interface.Configuration.EmrUploadConfigurationSection, DataModelProxy"/>
    <section name="clientDataModule" type="Com.Wis.Icu.ClientLibrary.ClientDataModuleSettings, ClientLibrary"/>
    <section name="accessControlSettings" type="iMedical.AccessControl.Configuration.AccessControlSettingSection, iMedical.AccessControl"/>
    <sectionGroup name="FlowConfig">
      <section name="Variables" type="TreatmentFlowLibrary.ConfigSections.FlowVariableSection, TreatmentFlowLibrary"/>
      <section name="Sentences" type="TreatmentFlowLibrary.ConfigSections.FlowSentenceSection, TreatmentFlowLibrary"/>
      <section name="Functions" type="TreatmentFlowLibrary.ConfigSections.FlowFunctionSection, TreatmentFlowLibrary"/>
      <section name="SignCodes" type="TreatmentFlowLibrary.ConfigSections.FlowSignCodeSection, TreatmentFlowLibrary"/>
    </sectionGroup>
  </configSections>
  <medicalDocSetting configSource="DocTemplate\客户化医院\Custom.config"/>
  <appSettings>
    <add key="AnesthesiaWardCode" value="10003300"/>
    <add key="QianBingXing" value="前并行"/>
    <add key="QuanXunHuan" value="全循环"/>
    <add key="HouBingXing" value="后并行"/>
    <add key="ShowYouDao" value="true"/>
    <add key="YouDaoColor" value="Brown"/>
    <add key="IsUpdateScheduleStatus" value="True"/>
    <add key="IsSaveAnesPrintRecord" value="false"/>
    <add key="RefreshTimeSpan" value="30"/>
    <add key="OpertionRoom" value=""/>
    <add key="UserLoginName" value="MZK"/>
    <add key="PermissionProvider" value="Wis.Anes.Custom.CustomProject.Permissions.PermissionProviderCustom,Anes.Custom.CustomProject"/>
    <add key="CustomSettingProvider" value="Wis.Anes.Custom.CustomProject.CustomSetting.CustomSetting,Anes.Custom.CustomProject"/>
	<!--<add key="docare" value="PERvY3VtZW50RWxlbWVudD4NCiAgPGRvY2FyZT4NCiAgICA8SXRlbT5TeXN0ZW0uRGF0YS5TcWxDbGllbnQ8L0l0ZW0+DQogIDwvZG9jYXJlPg0KICA8ZG9jYXJlPg0KICAgIDxJdGVtPi48L0l0ZW0+DQogIDwvZG9jYXJlPg0KICA8ZG9jYXJlPg0KICAgIDxJdGVtPkJhc2VBbmVzPC9JdGVtPg0KICA8L2RvY2FyZT4NCiAgPGRvY2FyZT4NCiAgICA8SXRlbT5zYTwvSXRlbT4NCiAgPC9kb2NhcmU+DQogIDxkb2NhcmU+DQogICAgPEl0ZW0+MTwvSXRlbT4NCiAgPC9kb2NhcmU+DQogIDxkb2NhcmU+DQogICAgPEl0ZW0+RmFsc2U8L0l0ZW0+DQogIDwvZG9jYXJlPg0KPC9Eb2N1bWVudEVsZW1lbnQ+"/>-->
	  <add key="docare" value="PERvY3VtZW50RWxlbWVudD4NCiAgPHdpcz4NCiAgICA8SXRlbT5TeXN0ZW0uRGF0YS5TcWxDbGllbnQ8L0l0ZW0+DQogIDwvd2lzPg0KICA8d2lzPg0KICAgIDxJdGVtPjE5Mi4xNjguMS43OVxNU1NRTFNFUlZFUjIwMTk8L0l0ZW0+DQogIDwvd2lzPg0KICA8d2lzPg0KICAgIDxJdGVtPkFuZXNfRlk8L0l0ZW0+DQogIDwvd2lzPg0KICA8d2lzPg0KICAgIDxJdGVtPnNhPC9JdGVtPg0KICA8L3dpcz4NCiAgPHdpcz4NCiAgICA8SXRlbT5zYUAxMjM8L0l0ZW0+DQogIDwvd2lzPg0KICA8d2lzPg0KICAgIDxJdGVtPkZhbHNlPC9JdGVtPg0KICA8L3dpcz4NCjwvRG9jdW1lbnRFbGVtZW50Pg==" />
    <add key="DevartOleConnection" value=""/>
    <add key="PDF_ServerUrl" value="192.168.0.241"/>
    <add key="PDF_LocalUrl" value="D:\PDF\"/>
    <add key="PDF_PostDoc" value=""/>
    <add key="IsYouDaoProgram" value="False"/>
    <add key="IsUpdateHisStatus" value="False"/>
    <add key="NoDosage" value=""/>
    <add key="OpertionDeptCode" value="MZ0601"/>
    <add key="PromptBeforeExit" value="True"/>
    <add key="IsModifyVitalSignShowDifferent" value="False"/>
    <add key="LiquidAttrs" value="晶体,胶体,其他,"/>
    <add key="MonitorLabel" value="PACU-002"/>
    <add key="SelectedMonitorLabel" value="PACU-002"/>
    <add key="IsPACUProgram" value="False"/>
    <add key="UseDevart" value="False"/>
    <add key="CommandTimeout" value="False"/>    
    <add key="MedSheetContinue" value="ECG"/>
    <add key="AnesDocPageHours" value="4"/>
    <add key="DefaultMonitorItems" value="1013,1018,161,162"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="RecordInterfaceLog" value="true"/>
    <!--<add key="AnesQueryAddress" value="http://127.0.0.2/AnesQuery/Default.aspx"/>-->
    <add key="AnesQueryAddress" value="http://localhost:52354/AnesLogin.aspx"/>
    <add key="EMRExePath" value="E:\Company Projects\Old.EMR\trunk\sources\EMR\JMZ.EMRInvoker\bin\EMR外部调用接口\JMZ.EMRInvoker.exe"/>
    <add key="EMRExeUid" value=""/>
    <add key="EMRExePwd" value=""/>
    <add key="EMRWebPath" value="http://172.16.100.12/imedical/web/form.htm?"/>
    <add key="EMRAccount" value="00006"/>
    <add key="EMRPassword" value="1234"/>
    <add key="EMRDept" value="1011300"/>
    <add key="BISWebPath" value="http://10.36.100.60:8080/bis/ShareInterface/loginFromHIS?"/>    
    <add key="WSURL" value="http://localhost:10603/WebServices.asmx?wsdl"/>
    
    <add key="HospitalName" value="XXXXXXXXXXXXX医院"/>
    <add key="HospitalCode" value="SZLH"/>    
    <add key="PortalCode" value="XAPM06.08"/>
    <add key="DevartOleConnection" value="UAByAG8AdgBpAGQAZQByAD0ATQBTAEQAQQBPAFIAQQA7AEQAYQB0AGEAIABTAG8AdQByAGMAZQA9AC4AOwBQAGUAcgBzAGkAcwB0ACAAUwBlAGMAdQByAGkAdAB5ACAASQBuAGYAbwA9AFQAcgB1AGUAOwBQAGEAcwBzAHcAbwByAGQAPQBzAGEAOwBVAHMAZQByACAASQBEAD0AaABvAHIAYQBjAGUA"/>
  </appSettings>
  <accessControlSettings defaultProvider="OracleProvider">
    <providers>
      <clear/>
      <add name="OracleProvider" type="iMedical.AccessControl.Provider.OracleProvider.OracleAccessControlProvider, iMedical.AccessControl" connectionStringName="ICU_Oracle"/>
    </providers>
    
    <userSettings tableName="WIS_PERM_USER" userIDColumnName="USER_ID" userNameColumnName="LOGIN_NAME" userPasswordColumnName="LOGIN_PWD">
      <extendInfos>
        <add name="USER_NAME" description="用户名"/>
        <add name="DEPT_ID" description="部门ID"/>
        <add name="CREATE_DATE_TIME" dbType="Date" description="创建日期"/>
        <add name="IS_VALID" description="是否启用"/>
        <add name="MEMO" description="备注"/>
      </extendInfos>
    </userSettings>
  </accessControlSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
